* {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-family-sans-serif: "Nunito Sans";
$font-family-monospace: "DM Mono";
$form-select-font-family: system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-weight-light: 300;
$font-weight-normal: 400;
$headings-font-weight: 600;
$font-weight-bold: 700;
