.nuxt-content {
  font-size: 1.25rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 1.25rem;
    margin-top: 1.75rem;
  }

  h1,
  h2 {
    font-weight: 700;
  }

  p {
    text-align: justify;
  }

  pre {
    font-size: 1.1rem !important;
    border-radius: 0.35rem;
    margin-bottom: 1rem !important;
  }
}
